@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  scroll-behavior: smooth;
} */

/* [disabled] {
  opacity: 0.5;
  pointer-events: none;
} */

section {
  background: #F2F2F2;
  padding: 14px;
  margin-bottom: 4px;
}


input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}











